<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>ACM大连分会</title>
  <link href="/stylesheets/itc.css" media="all" rel="stylesheet" type="text/css" />
  <script language="javascript" type="text/javascript">
  function limitText(limitField, limitCount, limitNum) {
    if (limitField.value.length > limitNum) {
      limitField.value = limitField.value.substring(0, limitNum);
    } else {
      limitCount.value = limitNum - limitField.value.length;
    }
  }
  </script>
</head>

<body>
<div id="wrapper">
  <div id="container">

    <div class="content-area">
            <!--首页锚点 -->
      <a id="acm1"></a>
      <h1 align="center" class="logo"><a href="#"><span>ACM大连分会</span></a></h1>

    </div>

    <div class="menu-bar">
		<!-- 将六个连接分别对应于acm1,2,3,4,5,6点击后跳转到当前页面相应设立锚点的位置
		-->
      <ul class="main-nav">
        <li><a href="index.html">资料下载</a></li>
        <li><a href="info.html">关于ACM大连</a></li>
        <li><a href="students.html">学生分会</a></li>
        <li><a href="workgroup.html">工作委员会</a></li>
        <li><a href="progroup.html">专业委员会</a></li>
        <li><a href="index.html">分会通知</a></li>
        <li><a href="index.html">分会新闻</a></li>
         <li><a href="index.html">首页</a></li>
      </ul>
    </div>
